TestProject/Web References/dddd/DrawingsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://www.sample-package.org" xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sample-package.org" name="DrawingsService" targetNamespace="http://www.sample-package.org" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:xs1="http://www.sample-package.org" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sample-package.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Drawing">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="ParentCode" type="xs:string" />
          <xs:element name="Designation" type="xs:string" />
          <xs:element name="Profile" type="xs:string" />
          <xs:element name="TypeSize" type="xs:string" />
          <xs:element name="GostSort" type="xs:string" />
          <xs:element name="MarkSteal" type="xs:string" />
          <xs:element name="Length" type="xs:decimal" />
          <xs:element name="Width" type="xs:decimal" />
          <xs:element name="Count" type="xs:int" />
          <xs:element name="CountAll" type="xs:int" />
          <xs:element name="Note" type="xs:string" />
          <xs:element name="TechRouteCode" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="NumberOnSpec" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListDrawings">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Drawing" type="xs1:Drawing" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListOperations">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" type="xs1:ListOperations" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListTechRoutes">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="TechRoute" type="xs1:TechRoute" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Operation">
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="FullName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TechRoute">
        <xs:sequence>
          <xs:element name="Code" type="xs:string" />
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Note" type="xs:string" />
          <xs:element name="ListOperations" type="xs1:ListOperations" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetDrawings">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDrawingsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:ListDrawings" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechRoutes">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechRoutesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:ListTechRoutes" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechOperations">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTechOperationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs1:ListOperations" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GetDrawingsRequestMessage">
    <part name="parameters" element="tns:GetDrawings" />
  </message>
  <message name="GetDrawingsResponseMessage">
    <part name="parameters" element="tns:GetDrawingsResponse" />
  </message>
  <message name="GetTechRoutesRequestMessage">
    <part name="parameters" element="tns:GetTechRoutes" />
  </message>
  <message name="GetTechRoutesResponseMessage">
    <part name="parameters" element="tns:GetTechRoutesResponse" />
  </message>
  <message name="GetTechOperationsRequestMessage">
    <part name="parameters" element="tns:GetTechOperations" />
  </message>
  <message name="GetTechOperationsResponseMessage">
    <part name="parameters" element="tns:GetTechOperationsResponse" />
  </message>
  <portType name="DrawingsServicePortType">
    <operation name="GetDrawings">
      <input message="tns:GetDrawingsRequestMessage" />
      <output message="tns:GetDrawingsResponseMessage" />
    </operation>
    <operation name="GetTechRoutes">
      <input message="tns:GetTechRoutesRequestMessage" />
      <output message="tns:GetTechRoutesResponseMessage" />
    </operation>
    <operation name="GetTechOperations">
      <input message="tns:GetTechOperationsRequestMessage" />
      <output message="tns:GetTechOperationsResponseMessage" />
    </operation>
  </portType>
  <binding name="DrawingsServiceSoapBinding" type="tns:DrawingsServicePortType">
    <soapbind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDrawings">
      <soapbind:operation soapAction="http://www.sample-package.org#DrawingsService:GetDrawings" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="GetTechRoutes">
      <soapbind:operation soapAction="http://www.sample-package.org#DrawingsService:GetTechRoutes" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
    <operation name="GetTechOperations">
      <soapbind:operation soapAction="http://www.sample-package.org#DrawingsService:GetTechOperations" style="document" />
      <input>
        <soapbind:body use="literal" />
      </input>
      <output>
        <soapbind:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DrawingsServiceSoap12Binding" type="tns:DrawingsServicePortType">
    <soap12bind:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDrawings">
      <soap12bind:operation soapAction="http://www.sample-package.org#DrawingsService:GetDrawings" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="GetTechRoutes">
      <soap12bind:operation soapAction="http://www.sample-package.org#DrawingsService:GetTechRoutes" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
    <operation name="GetTechOperations">
      <soap12bind:operation soapAction="http://www.sample-package.org#DrawingsService:GetTechOperations" style="document" />
      <input>
        <soap12bind:body use="literal" />
      </input>
      <output>
        <soap12bind:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DrawingsService">
    <port name="DrawingsServiceSoap" binding="tns:DrawingsServiceSoapBinding">
      <documentation>
        <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1" />
      </documentation>
      <soapbind:address location="http://dbsrv/dk_current_dev/ws/DrawingsService.1cws" />
    </port>
    <port name="DrawingsServiceSoap12" binding="tns:DrawingsServiceSoap12Binding">
      <soap12bind:address location="http://dbsrv/dk_current_dev/ws/DrawingsService.1cws" />
    </port>
  </service>
</definitions>